@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,400,500,600,700,800,900&display=swap');

body,
button {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button,
select {
  cursor: pointer;
}

html {
  font-size: 62.5%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

input,
select {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
  color: white;
}

a {
  font-size: 1.6rem;
}
